{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/logos/logo.jpg' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/img/logos/logo.jpg' %}">
    <title>
        مساعدة إنسانية
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <!-- Nucleo Icons -->
    <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet"/>
    <!-- CSS Files -->
    <link id="pagestyle" href="{% static 'assets/css/argon-dashboard.min.css' %}" rel="stylesheet"/>
    <link id="pagestyle" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/225ab67906.js" crossorigin="anonymous"></script>
</head>
<body class="g-sidenav-show bg-gray-100">
<div class="min-height-300 bg-primary position-absolute w-100"
     style="background: url('{% static "assets/img/background/g-sidenav.jpg" %}') bottom;"></div>
<!-- Sidebar -->
{% include 'sidebar.html' %}
<!-- End Sidebar -->
<main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    {% include 'navbar.html' %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        {% block content %}

        {% endblock %}
    </div>
    {% include 'footer.html' %}

</main>
{% include 'configurationSidebar.html' %}

<!--   Core JS Files   -->
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>


<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/argon-dashboard.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>